.header_wrapper
{
    max-width: 67%;
    margin: 0 auto;
    padding: 5rem 0;

    
        h1 
        {
            font-size: 3rem;
            font-weight: 600;
        }

        h2 
        {
            font-size: 1.8rem;
            font-weight: 600;
            color:rgba(88, 80, 80, 0.51);

        }
   
}


@media only screen and (max-width:500px)
{
    .header_wrapper
    {
        max-width: 80%;
    }
}